.container
{
    width:350px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background:#fff;
    padding:25px;
    margin:2% auto;
    text-align: center;
}

.container p{
  margin-bottom: 10px;
}

.logoheader
{
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.logo
{
    height:70px;
}
.heading
{
    font-size: 30px;
}

.input-box
{
    padding:10px;
    margin:8px;
    margin-left: -10px;
    width:100%;
    border:1px solid #999;
    outline:none;
}

.sign-btn
{
    padding:8px;
    background-color:#3b8cc7;
    text-align:center;
    width:100%;
    color:white;
    cursor: pointer;
    font-weight: bold;
}

.sign-social-btn
{
    font-size:10px;
    width:46%;
    height:140%;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}